{% include 'recipes/partials/head.html' %}

<body>
    {% include 'recipes/partials/header.html' %}
    {% include 'recipes/partials/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
        
        
        
            {% for i in "x"|rjust:"12"|make_list %}
                {% include 'recipes/partials/recipe.html' %} 
            {% endfor %}   
        
        
            <div class="recipe recipe-list-item">
                <div class="recipe-content">
                {% for i in "x"|rjust:"30"|make_list %}
                   <p> {{ forloop.counter }} </p>
                {% endfor %}
                </div>
            </div>

        </div>
    </main>
    {% include 'recipes/partials/footer.html' %}
</body>

</html>